:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.home {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.home .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgb(47, 106, 127);
  mix-blend-mode: hard-light;
}
.home img {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .homeContent {
  width: 100%;
  padding: 8rem 1.5rem 3rem;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  z-index: 100;
  color: var(--whiteColor);
  margin: auto;
  justify-content: center;
  align-items: stretch;
  row-gap: 3rem;
}
.home .homeContent .textDiv {
  padding: 2rem 0;
}
.home .homeContent .textDiv .smallText {
  font-size: 1.2rem;
  font-weight: 600;
}
.home .homeContent .textDiv .homeTitle {
  font-size: 1.8rem;
  position: relative;
}
.home .homeContent .cardDiv {
  background: var(--whiteColor);
  padding: 2rem 1rem;
  position: relative;
  border-radius: 10px;
  gap: 1rem;
}
.home .homeContent .cardDiv label {
  color: var(--textColor);
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  display: block;
}
.home .homeContent .cardDiv .labelTotal {
  justify-content: space-between;
  align-items: center;
}
.home .homeContent .cardDiv .labelTotal .total {
  color: var(--textColor);
  font-size: 18px;
}
.home .homeContent .cardDiv .input {
  background: var(--inputColor);
  height: 40px;
  padding: 0 1rem;
  border-radius: 1rem;
}
.home .homeContent .cardDiv .input input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}
.home .homeContent .cardDiv .input input::-moz-placeholder {
  font-size: 14px;
}
.home .homeContent .cardDiv .input input::placeholder {
  font-size: 14px;
}
.home .homeContent .cardDiv .input .icon {
  color: var(--blackColor);
  font-size: 22px;
  margin-left: 10px;
}
.home .homeContent .cardDiv .searchOptions {
  position: absolute;
  background: var(--gradientColor);
  width: -moz-max-content;
  width: max-content;
  bottom: -0.5rem;
  padding: 5px 1rem;
  border-radius: 1rem;
  -moz-column-gap: 0.7rem;
       column-gap: 0.7rem;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  cursor: pointer;
}
.home .homeContent .cardDiv .searchOptions:hover {
  background: var(--PrimaryColor);
}
.home .homeContent .cardDiv .searchOptions .icon {
  font-size: 18px;
}
.home .homeContent .cardDiv .searchOptions span {
  font-size: 15px;
}
.home .homeContent .homeFooter {
  width: 100%;
  justify-content: space-between;
}
.home .homeContent .homeFooter .icon {
  font-size: 1.5rem;
  margin: 0 5px;
  color: var(--whiteColor);
  font-weight: 600;
}
.home .homeContent .homeFooter .icon:hover {
  color: var(--PrimaryColor);
}/*# sourceMappingURL=Home.css.map */